@media screen and (min-width: 420px) { 
    body { 
    background: rgb(95, 147, 177); margin: 10px; 
    } 
    }

@media screen and (min-width: 794px) { 
    body { 
    background: rgb(175, 134, 165); margin: 10px; 
     } 
        }
    

body {} 
h1 {
    font-size: 32px;
} 
h2 {
    font-size: 24px;
} 
img { 
max-width: 600px; 
} 
figure { 
margin: 30px; 
} 
@media screen and (min-width: 1020px) { 
    body { 
    background: beige; margin: 30px; 
    } 
    }